<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{( url_for('static', filename='css/style.css'))}}">

</head>

<body>
    <div>
        <h1 >Your Adventure Begins</h1>
        <p style="color: rgb(174, 170, 169);">You stand at a crossroads. To your left is a haunted castle, and to your right is a dark forest.</p>
        <div class="path">
           
            <a href="/castle">
                <img src="{{ url_for('static', filename='images/castle2.jpg') }}" alt="Castle">
            </a>
            <a href="/forest">
                <img src="{{ url_for('static', filename='images/forest.jpg') }}" alt="Forest">
            </a>
        </div>

    </div>

</body>

</html>